/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

:root {
  --qwik-dark-blue: #006ce9;
  --qwik-light-blue: #18b6f6;
  --qwik-light-purple: #ac7ff4;
  --qwik-dark-purple: #713fc2;
  --menu: rgb(217, 199, 64);
  --content:hsl(23, 52%, 50%);
}

body {
  background-color: #fafafa;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  padding: 20px 20px 40px 20px;
}

main {
  max-width: 760px;
  margin: 0 auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 130px -50px var(--qwik-light-purple);
  overflow: hidden;
}

h1,
h2 {
  margin: 0 0 5px 0;
}

.lightning {
  filter: hue-rotate(180deg);
}


/*Distribución del contenido de la mitad*/

.row {
  display: flex;
}

.column {
  padding: 10px;
  height: 200px; 
}

/* Secciones */

nav {
  border: 2px solid var(--qwik-dark-purple);
  border-radius: 2px;
  margin-bottom: 15px;
  padding: 10px;
  text-align: center;
}
.menu-items {
  flex-basis: 20%;
  border: 2px solid var(--menu);
  margin-right: 5px;
}

/* Sección donde se carga el contenido de las rutas */
.content {
  flex-basis: 80%;
  border: 2px solid var(--qwik-light-blue);
}

footer {
  margin-top: 10px;
  text-align: center;
  border: 2px solid red;
}